.header {
    height: 70px;
    width: 100%;
    text-align: left;
    &__left {
        height: 100%;
        width: 60%;
        background-color: red;
        text-align: left;
        vertical-align: top;
    }
    &__right {
        height:100%;
        width: 40%;
        background-color: green;
        text-align: right;
        vertical-align: top;
    }
    &__nav {
        margin: 5px 0;
    }
}
.header-hamburger {
    background-image:none;
    height: 16px;
    width: 16px;
    margin: 27px 19px;
    vertical-align: middle;
}
.header-title {
    &__h {
        font-weight: bolder;
        padding: 12px;
        font-size: 12px;
        vertical-align: middle;
        background-color: white;
    }
    &__name {
        margin-left:14px;
        font-size: 8px;
        vertical-align: middle;
        text-align: left;
    }
}
.header-login {
    background-image:none;
    height: 24px;
    width: 24px;
    margin: 23px 10px;
    vertical-align: middle;
}
.header-search {
    background-image:none;
    height: 24px;
    width: 24px;
    margin: 23px 20px;
    vertical-align: middle;
}
.navlist {
    padding:5px 0;
    &__item {
        font-size: 16px;
        text-align: left;
        margin: 5px 21px;
        list-style: none;
    }
}
