@import 'vars';

.header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: middle;
    &__backdrop {
        display: none;
        @media (min-width: $breakpoint) {
            z-index: -1;
            display: block;
            background-color: #222222;
            color: #FFFFFF;
            font-size: 16px;
            padding: 11px 0;
            height: 100px;
        }
    }
    &__main {
        display: inline-block;
        position: relative;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
        width: 100%;
        z-index: 1;
        height: 70px;
        background-color: #FFFFFF;
        @media (min-width: $breakpoint) {
            position: absolute;
            top: 40px;
            width: 75%;
            left: 12.5%;
            height: 120px;
        }
    }
    &__nav {
        background-color: #FFFFFF;
        position: relative;
        overflow: hidden;
        height: 210px;
        @media (max-width: $breakpoint) {
            transition: height 0.5s;
        }
        &--closed {
            @media (max-width: $breakpoint) {
                height: 0px;
            }
        }
        @media (min-width: $breakpoint) {
            position: absolute;
            background-color: transparent;
            z-index: 3;
            //display: none;
            width: 39%;
            top: -80px;
            left: 36%;
            overflow: visible;
        }
    }
}
.header-backdrop-text {
    display: inline-block;
    width: 75%;
    text-align: left;
}
.header-left {
    height: 100%;
    width: 60%;
    text-align: left;
    vertical-align: top;
}
.header-right {
    height:100%;
    width: 40%;
    text-align: right;
    vertical-align: top;
}
.header-hamburger {
    background-image:url($baseurl + "/img/hamburger.svg");
    background-size: cover;
    background-color: transparent;
    height: 16px;
    width: 16px;
    margin: 27px 19px;
    vertical-align: middle;
    border-width: 0px;
    display: inline-block;
    &--open {
        background-image:url($baseurl + "/img/cross.svg");
    }
    @media (min-width: $breakpoint) {
        display: none;
    }
}
.header-title {
    &__h {
        font-weight: bolder;
        padding: 12px;
        font-size: 12px;
        vertical-align: middle;
        box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
        @media (min-width: $breakpoint) {
            font-size: 37px;
            padding: 18px 20px;
            margin: 20px;
        }
    }
    &__name {
        margin-left:14px;
        font-size: 12px;
        vertical-align: middle;
        text-align: left;
        @media (min-width: $breakpoint) {
            font-size: 25px;
        }
    }
}
.header-login {
    background-image: url($baseurl + "/img/login.svg");
    background-size: cover;
    background-color: transparent;
    height: 24px;
    width: 24px;
    margin: 23px 10px;
    vertical-align: middle;
    border-width: 0px;
    @media (min-width: $breakpoint) {
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 28px;
        margin: 30px 10px;
        border: 2px solid #8585855D;
    }
}
.header-search {
    background-image: url($baseurl + "/img/search.svg");
    background-size: cover;
    background-color: transparent;
    height: 24px;
    width: 24px;
    margin: 23px 20px;
    vertical-align: middle;
    border-width: 0px;
    @media (min-width: $breakpoint) {
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 28px;
        margin: 30px 20px 30px 10px;
        border: 2px solid #8585855D;
    }
}
.navlist {
    margin:12px 0;
    position: absolute;
    bottom: 0;
    &__item {
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        margin: 24px 21px;
        list-style: none;
        @media (min-width: $breakpoint) {
            display: inline-block;
            margin: 10px 10px;
        }
    }
}
