#map {
    border: 1px solid red;
    height: 500px;
    width: 100%;
    border-radius: 12px;
}
.distances {
    padding: 10px;
    margin: 10px;
    background-color: #DDDDDD;
    &__item {
        padding: 5px;
        padding: 5px;
        text-align: left;
        border: 2px solid #AAAAAA;
    }
}