@import "vars.scss";

.splash{
    background-color: #333333;
    padding: 140px 20px 70px 20px;
    color: #FFFFFF;
    text-align: left;
    @media (min-width: $breakpoint) {
        padding: 280px 0 120px 20%;
    }
    &__small-title {
        font-weight: 700;
        font-size: 13px;
        text-align: left;line-height: 18px;
        letter-spacing: 2.8px;
        @media (min-width: $breakpoint) {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
        }
    }
    &__big-title {
        margin: 40px 0;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        text-align: left;
        letter-spacing: -1.2px;
        @media (min-width: $breakpoint) {
            font-family: 'Old Standard TT';
            font-style: normal;
            font-weight: 400;
            font-size: 120px;
            line-height: 130px;
            letter-spacing: -3.6px;
            margin-bottom: 10px;
        }
    }
}
.button {
    width: 217px;
    height: 60px;
    border: 2px solid #FFFFFF54;
    padding: 22px 0;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin: 24px 0;
    &--active {
        border: 0px none transparent;
        background-color: #BEAD8E;
    }
    &--separated {
        margin-right: 30px;
    }
    &--avail-checker{
        width: 250px;
        margin: 42px 0 0 0;
        @media (min-width: $breakpoint) {
            margin: 42px 0 0 6%;
        }
    }
}

.avail-checker{
    background-color: #222222;
    padding: 36px 20px;
    color: #FFFFFF;
    text-align: left;
    &__form{
        text-align: left;
        @media (min-width: $breakpoint) {
            margin: 20px;
            width: 30%;
        }
    }
    @media (min-width: $breakpoint) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.ac-label {
    display: block;
    text-align: left;
    margin: 20px 0;
    font-weight: 700;
}
.ac-input {
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: 0px none transparent;
    border-bottom: 2px solid #BEAD8E;
    color: #FFFFFF;
    flex-direction: row-reverse;
    height: 30px;
    font-size: 14px;
    &::-webkit-calendar-picker-indicator {
        filter: invert(0.6) sepia(1);
        transform: scale(1.2);
        margin-right: 10px;
    }
    @media (min-width: $breakpoint) {
        width: 100%;
    }
}

.underground {
    position: relative;
    @media (min-width: $breakpoint) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    &__bg {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 610px;
        top: 0;
        left: 0;
        background-color: #F9F9F9;
        @media (min-width: $breakpoint) {
            left: 44%;
            top: 290px;
        }
    }
    &__blurb {
        margin: 60px 20px;
        text-align: left;
        @media (min-width: $breakpoint) {
            margin-left: 76px;
            margin-top: 230px;
            max-width: 500px;
            min-width: 410px;
            width: 50%;
        }
    }
    &__items {
        margin: 60px 0;
        @media (min-width: $breakpoint) {
            display: flex;
        }
    }
}
.ub-small-title {
    color: #777777;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    padding-top: 38px;
    margin-bottom: 32px;
    @media (min-width: $breakpoint) {
        padding-top: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: #777777;
    }
}
.ub-large-title {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    text-align: left;
    letter-spacing: -1.2px;
    margin-bottom: 16px;
    @media (min-width: $breakpoint) {
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: -2.4px;
        color: #111111;
    }
}
.ub-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    text-align: left;
    @media (min-width: $breakpoint) {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #777777;
    }
}
.ui-item {
    width: 300px;
    margin: 45px auto;
    @media (min-width: $breakpoint) {
        margin: 120px 15px;
    }
}
.ui-item-1{
    @media (min-width: $breakpoint) {
        display: flex;
        flex-direction: column-reverse;
    }
}
.ui-item-2{
    @media (min-width: $breakpoint) {
        position: relative;
        display: flex;
        flex-direction: column;
        top:30px;
    }
}
.ui-img {
    width: 270px;
    height: 300px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    vertical-align: top;
}
.ui-img-1 {
    background-image: url("../../img/strong-team.jpg");
}
.ui-img-2 {
    background-image: url("../../img/luxury-room.jpg");
    @media (min-width: $breakpoint) {
        margin-bottom: 30px;
    }
}
.ui-body {
    display: inline-block;
    width: 270px;
    height: 300px; 
    padding: 54px 0 39px 0;
    &__img {
        height: 50px;
        width: auto;
    }
    &__title {
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.9px;
        margin: 30px 0 21px 0;
    }
    &__text {
        font-size: 14px;
        line-height: 22px;
        padding: 0 35px;
    }
}
.ui-body-1 {
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
    background-image: url("../../img/team-bg.svg");
    background-size: 144px 106px;
    background-repeat: no-repeat;
    background-position: 100% 26%;
    @media (min-width: $breakpoint) {
        margin-bottom: 30px;
    }
}
.ui-body-2 {
    background-color: #222222;
    color: #FFFFFF;
}

.rooms {
    position: relative;
    margin: 30px 0;
    &__small-title{
        color: #777777;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 2.8px;
        text-transform: uppercase;
    }
    &__big-title{
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: -1.2px;
        color: #222222;
        width: 350px;
        display: inline-block;
        margin: 24px auto;
    }
}
.swiper {
    width: 100%;
    height: 440px;
    z-index: 1;
    @media (min-width: $breakpoint) {
        height: 640px;
    }
}
.swiper-slide {
    @media (min-width: $breakpoint) {
        width: 770px;
        height: 500px;
    }
}
.swiper-button-prev {
    z-index: 4;
    width: 32px;
    height: 32px;
    background-image: url('../../img/prev.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-button-prev::after {
    display: none;
}
.swiper-button-next {
    z-index: 4;
    width: 32px;
    height: 32px;
    background-image: url('../../img/next.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.swiper-button-next::after {
    display: none;
}
.slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    &__iconrow {
        display: inline-block;
        padding: 11px 6px;
        height: 40px;
        background-color: #FFFFFF;
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 244px;
        background-size: cover;
        top: 20px;
        left: 0;
        z-index: -1;
        @media (min-width: $breakpoint) {
            height: 550px;
        }
    }
    &__body {
        position: relative;
        top: 204px;
        background-color: #FFFFFF;
        width: 335px;
        margin: 0 auto;
        padding: 19px 24px;
        @media (min-width: $breakpoint) {
            top: 443px;
        }
    }
}
.iconrow-icon {
    width: 16px;
    margin: 0 18px;
    height: auto;
}
.sb-title {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.2px;
    color: #222222;
}
.sb-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin: 12px 0;
}
.sb-price{
    color: #BEAD8E;
    &__big {
        font-size: 32px;
    }
}