@import "vars.scss";

.splash{
    background-color: #333333;
    padding: 140px 20px 70px 20px;
    color: #FFFFFF;
    text-align: left;
    @media (min-width: $breakpoint) {
        padding: 280px 0 120px 20%;
    }
    &__small-title {
        font-weight: 700;
        font-size: 13px;
        text-align: left;line-height: 18px;
        letter-spacing: 2.8px;
        @media (min-width: $breakpoint) {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
        }
    }
    &__big-title {
        margin: 40px 0;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        text-align: left;
        letter-spacing: -1.2px;
        @media (min-width: $breakpoint) {
            font-family: 'Old Standard TT';
            font-style: normal;
            font-weight: 400;
            font-size: 120px;
            line-height: 130px;
            letter-spacing: -3.6px;
            margin-bottom: 10px;
        }
    }
}
.button {
    width: 217px;
    height: 60px;
    border: 2px solid #FFFFFF54;
    padding: 22px 0;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin: 24px 0;
    &--active {
        border: 0px none transparent;
        background-color: #BEAD8E;
    }
    &--separated {
        margin-right: 30px;
    }
    &--avail-checker{
        width: 250px;
        margin: 42px 0 0 0;
        @media (min-width: $breakpoint) {
            margin: 42px 0 0 6%;
        }
    }
}

.avail-checker{
    background-color: #222222;
    padding: 36px 20px;
    color: #FFFFFF;
    text-align: left;
    &__form{
        text-align: left;
        @media (min-width: $breakpoint) {
            margin: 20px;
            width: 30%;
        }
    }
    @media (min-width: $breakpoint) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.ac-label {
    display: block;
    text-align: left;
    margin: 20px 0;
    font-weight: 700;
}
.ac-input {
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: 0px none transparent;
    border-bottom: 2px solid #BEAD8E;
    color: #FFFFFF;
    flex-direction: row-reverse;
    height: 30px;
    font-size: 14px;
    &::-webkit-calendar-picker-indicator {
        filter: invert(0.6);
        transform: scale(1.2);
        margin-right: 10px;
    }
    @media (min-width: $breakpoint) {
        width: 100%;
    }
}